.post-home-item {
  display: flex;
  flex-direction: column;
  margin: 15px;
  box-shadow: 0 10px 13px rgba(15, 38, 82, 0.42);
  border-radius: 15px;
  background-color: #ffffff;
  height: 100%;
}
.post-item-img {
  @include back-img;
  width: 100%;
  border-radius: 15px 15px 0 0;
  margin-bottom: size(13);
  &:after {
	content: '';
	display: block;
	padding-bottom: 41%;
  }
}
.home-item-img {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: size(22);
  &:after {
	padding-bottom: 74%;
  }
}
.member-item-img {
  &:after {
	padding-bottom: 83%;
  }
}
.home-item-title {
  @include mid-text;
  text-align: center;
  font-weight: 700;
  margin-bottom: size(16);
  color: $blue-card-title;
}
.home-item-small-desc, .home-item-desc {
  @include small-text;
  text-align: center;
}
.home-item-small-desc {
  color: $blue-main;
  margin-bottom: size(20);
}
.home-item-desc {
  margin-bottom: size(30);
  color: #0f2652;
}
.home-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 0 size(30) size(30) size(30);
}
.home-item-cats-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.home-item-tel {
  position: absolute;
  left: 6px;
  top: 12px;
  img {
	margin-right: size(14);
	width: size(18);
  }
  &:hover {
	color: #ffffff !important;
	background-color: $blue-main !important;
	transition: transform .5s;
	img {
	  transform: rotate(20deg);
	  transition: transform .5s;
	}
  }
}
.card-home-col, .card-member-col {
  margin-bottom: size(80);
}
.card-member-col {
  display: none;
  .home-item-title {
	font-size: size(24);
	line-height: size(26);
  }
  &.show {
	display: block;
  }
}
//Categories (locations)
.location-wrap-item {
  @include d-center;
  padding: 10px;
  border-radius: size(15);
  background-color: $blue-dark;
  width: calc(100% - 35px);
}
.location-wrap-inside {
  @include d-center;
  font-size: size(60);
  line-height: size(62);
  text-align: center;
  padding: size(20);
  font-weight: 700;
  height: 100%;
  width: 100%;
  color: #ffffff;
  border-radius: 10px;
  background-color: $blue-main;
  transition: color, background-color .5s;
  &:hover {
	color: $blue-main;
	background-color: #ffffff;
	transition: color, background-color .5s;
  }
}
.logo {
  @include d-center;
}
.faq {
  margin: size(50) 0;
  .question-header {
	border: none !important;
  }
  .card {
	border: none !important;
	background-color: transparent;
  }
  .question-card {
	margin-bottom: size(21);
  }
}
.question-title {
  display: flex;
  align-items: center;
  @include base-text;
  color: #ffffff;
  font-weight: 700;
  text-align: right;
  border: none !important;
  border-radius: size(23);
  background-color: $blue-dark;
  transition: background-color .5s;
  padding: size(12) size(36) size(12) size(60);
  min-height: size(73);
  width: 100%;
  &:hover {
	color: #ffffff;
  }
}
.answer-body {
  background-color: transparent;
  padding: size(15) size(40) size(23) 10%;
  &.base-output p {
	margin-bottom: 0;
  }
}
.arrow-top {
  position: absolute;
  left: size(27);
  width: size(18);
  transition: transform .5s;
  cursor: pointer;
}
.arrow-bottom {
  transform: rotate(180deg);
  transition: transform .5s;
}
.active-faq {
  background-color: $blue-main !important;
  transition: background-color .5s;
}
//Video modal
.video-modal {
  .modal {
	z-index: 9999999999999999999999;
  }
  .modal-body {
	position: relative;
	padding: 0;
  }
  .modal-content {
	background: none;
	border: none;
  }
  .modal-backdrop {
	z-index: 10;
  }
  .close {
	position: absolute !important;
	top: -50px;
	right: -50px;
	width: 50px;
	height: 50px;
  }
  .modal .close-icon {
	padding: 0;
	margin: 0;
	font-size: 3rem;
  }
  .modal-body{
	iframe{
	  width: 100%;
	  height: 500px;
	  position: relative;
	}
  }
}
//Reviews popup
.hidden-review {
  display: none;
}
#reviewsModal {
  .modal-content {
	border: none;
	border-radius: 5px;
  }
}
#reviews-pop-wrapper {
  position: relative;
  border-radius: 5px;
  background-color: #ffffff;
  border: 2px solid $blue-dark;
  align-items: flex-start;
  padding: 3rem 15px;
  z-index: 2222;
}
#reviewsModal {
  .modal-content .close {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 9999;
	cursor: pointer;
	top: 10px;
	left: 10px;
	background-color: transparent;
	.fa-times {
	  color: $blue-dark;
	  font-size: 2rem;
	}
  }
}
.modal {
  z-index: 99999;
}
