.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include input-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include input-text;
  }
}
div.wpcf7 input[type="text"],
div.wpcf7 input[type="email"],
div.wpcf7 input[type="tel"],
div.wpcf7 input[type="file"],
div.wpcf7 textarea,
div.wpcf7 select,
select,
input.form-control-input {
  @include input-text;
  @include input-style;
}
select, div.wpcf7 select, input.form-control-input {
  -webkit-appearance: none;
  padding-right: size(20);
  padding-left: size(24);
  background-image: url("../iconsall/form-select.png");
  background-position: 10px center;
  background-size: 11px;
}
div.wpcf7 input[type="text"].custom-text-in {
  background-image: none !important;
  padding-right: 12px;
}
select {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
div.wpcf7 select.select-region {
  background-position: calc(100% - 8px) center;
  background-image: url("../iconsall/select-geo.png");
  background-size: size(14);
  padding: 0 size(36) 0 4px;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: $blue-dark;
  outline: 0;
  box-shadow: unset;
}
.form-group {
  select {
	width: 100%;
  }
}
div.wpcf7 textarea {
  background-image: url("../iconsall/form-textarea.png");
  background-size: size(15);
  margin-bottom: 0;
}
div.wpcf7 input[type="text"] {
  background-image: url("../iconsall/form-name.png");
}
div.wpcf7 input[type="file"] {
  background-image: url("../iconsall/form-file.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../iconsall/form-mail.png");
  background-size: size(24);
}
div.wpcf7 input[type="tel"] {
  background-image: url("../iconsall/form-tel.png");
  background-size: size(16);
}
div.wpcf7 input[type="submit"], button.btn-search {
  min-height: size(36);
  border-radius: 5px;
  background-position: 14px center;
  background-size: 15px;
  background-repeat: no-repeat;
  padding-left: size(30);
  font-size: size(24);
  line-height: size(18);
  background-image: url("../iconsall/form-submit-dark.png");
  color: $blue-dark;
  background-color: $blue-main;
  font-weight: 700;
  text-align: center;
  border: none !important;
  transition: background-position .5s;
  &:hover {
	background-position: 2px center;
	transition: background-position .5s;
  }
}
button.btn-search {
  @include d-center;
  line-height: size(20);
  width: 100%;
  white-space: normal;
  min-height: size(36);
}
.repeat-form-wrap {
  padding: size(20) size(65);
}
.form-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-title {
  @include mid-text;
  color: $blue-main;
  font-weight: 700;
  text-align: center;
}
.form-subtitle {
  @include mid-text;
  color: $white-theme;
  text-align: center;
}
.pop-form-title {
  @include mid-text;
  text-align: center;
  color: $blue-dark;
  margin-bottom: size(20);
}
.foo-form-wrap {
  border-radius: 15px;
  padding: size(20) size(60);
  background-color: $blue-dark;
}
.search-wrap {
  border-radius: 10px;
  padding: size(25) size(74);
  background-color: $blue-dark;
}
//Popup
.pop-form, .pop-form-another, .tel-desktop-wrap, .pop-form-search {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity .5s;
  &.show-popup {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.pop-form, .pop-form-another {
  background-color: rgba(0, 0, 0, 0.6);
  div.wpcf7 input[type="submit"] {
	color: #ffffff;
	background-color: $blue-dark;
	background-image: url("../iconsall/form-submit.png");
  }
}
.curr-body-hidden {
  overflow: hidden;
}
.float-form, .float-form-another, .float-tel, .float-form-search {
  position: relative;
  width: calc(100% - 10px);
  max-height: 95vh;
  transition: all .5s;
  z-index: 99999999999;
  opacity: 0;
  padding: size(38) size(45);
}
.float-tel, .float-form-search {
  width: 100%;
  padding: size(45) size(70) size(38) size(70);
  transform: translateX(-100%);
  &.show-float-tel {
	opacity: 1;
	transform: translateX(0);
  }
}
.float-form, .float-form-another {
  transform: translateY(-100%);
  overflow-y: auto;
  &.show-float-form {
	opacity: 1;
	transform: translateY(0);
  }
}
.dotted-form {
  border: 3px dotted #ffffff;
  background-color: $blue-main;
  border-radius: 0 0 5px 5px;
}
.float-form-search {
  position: relative;
  background-color: $blue-dark;
}
.close-form, .close-form-another, .close-tel, .close-search {
  position: absolute;
  top: size(18);
  right: size(17);
  cursor: pointer;
  svg {
	width: size(18);
	height: size(18);
	* {
	  fill: $blue-dark;
	}
  }
}
.float-form-search {
  svg {
	* {
	  fill: #ffffff;
	}
  }
}
.contact-body-wrap, .post-form-wrap {
  div.wpcf7 input[type="submit"] {
	min-height: size(36);
	background-image: url("../iconsall/form-submit.png");
	color: #ffffff;
	background-color: $blue-dark;
  }
}
.pop-form-search {
  form {
	border-bottom: 4px solid #ffffff;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: size(45);
  }
  input[type="search"] {
	height: 100%;
	background-image: url("../iconsall/search.png");
	background-position: right center;
	background-repeat: no-repeat;
	background-size: size(28);
	color: #ffffff;
	padding-right: size(35);
	@include base-text;
	background-color: transparent;
  }
  input[type="submit"] {
	@include d-center;
	height: size(36);
	border-radius: 5px;
	background-color: #ffffff;
	padding: 5px size(15);
	font-size: size(24);
	line-height: size(22);
	text-align: center;
	color: $blue-dark;
	font-weight: 700;
	transition: background-color .5s;
	&:hover {
	  background-color: $blue-main;
	  transition: background-color .5s;
	}
  }
}
