.footer-main {
  position: relative;
  @include back-img;
  padding-top: size(70);
  padding-bottom: size(100);
  background-image: url("../img/footer-back.png");
}
.foo-title {
  @include mid-text;
  color: #ffffff;
  font-weight: 700;
  text-align: right;
  margin-bottom: size(20);
}
.hop-hey.four-columns {
  column-count: 3;
  column-gap: 1.5rem;
}
.foo-menu {
  position: relative;
  li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid-column;
	position: relative;
	a, span {
	  display: flex;
	  @include small-text;
	  margin-bottom: 10px;
	  color: #ffffff;
	  transition: color .5s;
	  &:hover {
		color: $blue-dark;
		transition: color .5s;
	  }
	}
  }
}
.snif-title {
  display: flex;
  @include small-text;
  margin-bottom: 10px;
  color: #ffffff;
}
#go-top {
  position: absolute;
  top: size(100);
  right: size(50);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
  img {
	animation: jump-top 1.2s ease-in-out alternate infinite;
  }
}
.top-text {
  @include small-text;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
}
//Triggers
.triggers-wrap {
  position: fixed;
  left: 0;
  top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  z-index: 999999;
}
.trigger-item {
  @include d-center;
  cursor: pointer;
  width: size(68);
  height: size(61);
  &:first-child {
	border-radius: 0 5px 0 0;
  }
  &:last-child {
	border-radius: 0 0 5px 0;
  }
  padding: size(14);
  .fab {
	color: #ffffff !important;
	font-size: size(36);
  }
}
.pop-trigger, .tel-trigger {
  background-color: $blue-main;
  img {
	width: size(38);
  }
}
.facebook-fix {
  background-color: #4267b2;
}
.whatsapp-fix {
  background-color: #0bc527;
}
.search-trigger {
  background-color: $blue-dark;
}
.messenger-fix {
  background-color: #006aff;
}
.pop-form-title {
  @include mid-text;
  margin-bottom: size(25);
  text-align: center;
  color: $blue-dark;
}
//Header menu
.pop-trigger-another, #MainNav ul li {
  @include d-center;
  min-height: size(29);
  padding: 3px size(23);
  border-radius: 5px;
  @include base-text;
  color: $blue-dark;
  text-align: center;
  background-color: #ffffff;
  cursor: pointer;
  transition: color .5s;
  &:hover {
	color: $blue-main;
	transition: color .5s;
  }
}
#MainNav{
  ul{
	display: flex;
	align-items: stretch;
	height: 100%;
	li{
	  margin: 0 3px;
	  @include d-center;
	  a {
		@include d-center;
		height: 100%;
		@include base-text;
		color: $blue-dark;
		text-align: center;
		transition: color .5s;
		&:hover {
		  color: $blue-main;
		  transition: color .5s;
		}
	  }
	}
  }
  li.menu-item-has-children {
	position: relative;
	background-image: url("../iconsall/form-select.png");
	background-position: 10px center;
	background-repeat: no-repeat;
	background-size: 11px;
	padding: 3px size(23) 3px size(35);
	background-color: #ffffff;
	border: 1px solid $blue-dark;
	&:hover {
	  border-bottom-right-radius: 0;
	  border-bottom-left-radius: 0;
	  ul.sub-menu {
		opacity: 1;
		transition: opacity .5s;
	  }
	}
	li {
	  border-radius: 0;
	  padding: 0;
	  margin: 0;
	  a {
		@include small-text;
		padding: 5px;
		margin-bottom: 5px;
	  }
	}
  }
  ul.sub-menu {
	position: absolute;
	top: 100%;
	right: 0;
	display: flex;
	flex-direction: column;
	height: auto;
	z-index: 999999;
	opacity: 0;
	transition: opacity .5s;
  }
  .sub-head, .back-to-menu {
	display: none !important;
  }
}
.header-top {
  padding: size(15) 0;
  background-color: $blue-dark;
  .logo img {
	max-height: size(51);
  }
}
.logo {
  @include d-center;
}
.tel-pop-line {
  @include d-center;
  flex-wrap: wrap;
  min-height: size(57);
  border-radius: 5px;
  padding: 8px size(70);
  width: 100%;
  background-color: #ffffff;
  background-image: url("../iconsall/tel-pop.png");
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
  background-size: size(31);
  @include mid-text;
  color: $blue-dark;
}
.header-tel-wrap {
  @include d-center;
  flex-wrap: wrap;
  min-height: size(46);
  border-radius: 10px;
  padding: 5px size(20);
  border: 2px solid $blue-main;
  background-color: $blue-main;
  transition: background-color .5s;
  img {
	width: size(26);
	margin-right: size(18);
  }
  &:hover {
	background-color: $blue-dark;
	transition: background-color .5s;
	* {
	  color: #ffffff;
	}
  }
}
.tel-text {
  @include base-text;
  color: #ffffff;
  font-weight: 700;
}
.top-events {
  width: 100%;
}
.main-ticker-wrap{
  width: 100%;
  overflow: hidden;
  min-height: 30px;
  background-color: #ff0000;
  box-sizing: content-box;
  margin-right: -15px;
  margin-left: -15px;
  padding-left: 30px;
}
.msg-ticker-wrap{
  display: inline-block;
  height: 100%;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: msg_ticker;
  animation-duration: 10s;
  overflow: hidden;
  .msg-item{
	height: 100%;
	display: inline-flex;
	align-items: center;
	a{
	  span{
		color: $white-theme;
		font-size: size(20);
		line-height: size(20);
		font-weight: 400;
		text-align: center;
		white-space: nowrap;
	  }
	}
  }
  &:hover{
	animation-play-state: paused;
  }
}
@keyframes msg_ticker {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(100%, 0, 0); }
}
