/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


@media (min-width: 1920px) {
  html{
	font-size: 24px;
  }
  .card-link.link-cat-loc, .card-link.link-cat {
	@include base-text;
	min-height: size(33);
	padding: 5px size(27);
  }
  .home-item-img {
	&:after {
	  padding-bottom: 64%;
	}
  }
}
@media (min-width: 1500px) {
  .container {
	max-width: 71%;
  }
}
@media (max-width: 1600px) {
  .search-wrap {
	padding: size(25);
  }
  .footer-main {
	padding-top: size(120);
  }
  #go-top {
	position: absolute;
	top: size(30);
	right: size(20);
  }
  .pop-trigger-another, #MainNav ul li {
	padding: 3px size(13);
	@include small-text-2;
  }
  #MainNav{
	ul{
	  li{
		a {
		  @include small-text-2;
		}
	  }
	}
	li.menu-item-has-children {
	  background-position: 5px center;
	  background-size: 9px;
	  padding: 3px size(13) 3px size(25);
	  li {
		a {
		  font-size: size(15);
		  line-height: size(16);
		}
	  }
	}
  }
  .header-tel-wrap {
	min-height: unset;
	padding: 5px size(15);
	img {
	  width: size(20);
	  margin-right: size(8);
	}
  }
  .tel-text {
	@include small-text;
	font-weight: 900;
  }
}

//Bootstrap 4 breakpoints

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 22px;
  }
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 20px;
  }
  .tel-hide-text {
	display: none;
  }
  .post-home-item {
	margin: 0;
  }
  .search-wrap {
	padding: size(25) size(74);
  }
  .hop-hey.four-columns {
	column-count: 2;
	column-gap: 1rem;
  }
  div.wpcf7 input[type="file"] {
	margin-bottom: 8px;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .slider-img-col {
	margin-top: 1rem;
  }
  .hop-hey.four-columns {
	column-count: 1;
	column-gap: unset;
  }
  .contact-form {
	padding: size(35);
  }
  .post-form-wrap {
	margin: 2rem 0;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 400px;
	  }
	}
  }
  #MainNav {
	a {
	  font-size: size(24) !important;
	  line-height: size(30) !important;
	}
	padding-top: 1rem;
	.sub-head, .back-to-menu {
	  display: block !important;
	}
	li.menu-item-has-children {
	  position: relative;
	  &:hover {
		ul.sub-menu {
		  transform: translateY(0);
		  pointer-events: all;
		  opacity: 1;
		  transition: transform, opacity .5s;
		}
	  }
	}
	ul.sub-menu {
	  position: unset;
	  top: unset;
	  flex-direction: unset;
	  background: #fff;
	  transform: unset;
	  z-index: 99999;
	  height: unset;
	  width: unset;
	  min-width: unset;
	  opacity: unset;
	  pointer-events: none;
	  transition: transform, opacity .5s;
	}
  }
  nav#MainNav div.main_menu > ul {
	display: block;
	height: calc(100vh - 50px);
	overflow-x: hidden;
	overflow-y: auto;
  }
  nav#MainNav ul li:after {
	display:none;
  }
  nav#MainNav ul li {
	display: block !important;
	position: relative;
	justify-content: flex-start;
	padding: 0 1rem;
	border: none !important;
	background-color: transparent !important;
	a {
	  text-align: right;
	}
  }
  nav#MainNav ul li a {
	display: block;
	color:#fff;
	padding:5px 10px;
	width:calc(100% - 20px);
  }
  nav#MainNav div.main_menu > ul > li > a {
	padding:5px 10px 5px 30px;
	width:calc(100% - 40px);
  }
  nav#MainNav div.main_menu ul li.active,
  nav#MainNav div.main_menu ul li.current-menu-item {
	background-color: $blue-main;
  }
  nav#MainNav div.main_menu ul.active .back-to-menu:after,
  nav#MainNav div.main_menu ul li.menu-item-has-children:after {
	display: block;
	content: '';
	position: absolute;
	top: 16px;
	left: 1rem;
	width: 12px;
	height: 12px;
	background: url(../iconsall/wmob-menu-arrow.svg) center center no-repeat;
	background-size:contain;
	-webkit-transition:all .5s ease;
	transition: all .5s ease;
  }
  nav#MainNav div.main_menu ul.active .back-to-menu:after {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
  }
  nav#MainNav div.main_menu ul.active li.menu-item-has-children {
	padding: 0;
	width: 100%;
  }
  nav#MainNav div.main_menu ul.active li.menu-item-has-children:after {
	display: none;
  }
  ul.sub-menu {
	display: none;
  }
  nav#MainNav div.main_menu > ul > li > ul.sub-menu {
	display: block;
	position: absolute;
	top:0;
	width: 100%;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	background-color: inherit;
	-webkit-transition:all .5s ease;
	transition: all .5s ease;
  }
  nav#MainNav div.main_menu > ul > li > ul.sub-menu.chekd {
	height:0;
	position: relative;
	visibility: visible;
	pointer-events: auto;
  }
  nav#MainNav ul.sub-menu li:not(.back-to-menu) {
	display: block;
	width: calc(100% - 10px);
	margin: 0 auto 0 0;
	padding: 0;
	position: relative;
  }
  nav#MainNav ul.sub-menu li:nth-child(1),
  nav#MainNav	ul.sub-menu li:nth-child(2) {
	margin: 0;
	width: 100%;
  }
  nav#MainNav div.main_menu > ul > li.active > ul.sub-menu {
	opacity: 1;
  }
  nav#MainNav div.main_menu > ul.active > li > a {
	position: absolute;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
  }
  nav#MainNav .back-to-menu {
	cursor: pointer;
  }
  .header-top {
	padding: size(15) size(50) size(15) 0;
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .giant-title {
	font-size: size(56);
	line-height: size(55);
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .container {
	max-width: 90%;
  }
  .trigger-item {
	width: size(42);
	height: size(37);
	padding: size(9);
	.fab {
	  font-size: size(28);
	}
  }
  .pop-trigger, .tel-trigger {
	img {
	  width: size(28);
	}
  }
  .post-home-item {
	margin: 20px;
  }
  .foo-menu {
	margin-bottom: 2rem;
  }
  .main-footer-menu {
	order: 1;
  }
  .contacts-footer-menu {
	order: 2;
  }
  .links-footer-menu {
	order: 3;
  }
  .hop-hey.four-columns {
	column-count: 2;
	column-gap: 1rem;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 300px;
	  }
	}
	.close {
	  right: -14px;
	}
  }
  .float-tel {
	padding: size(70) size(20) size(38) size(20);
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 450px) {
  .header-tel-wrap {
	display: none;
  }
  .menu-col-main {
	justify-content: flex-end !important;
	margin-left: -1rem;
  }
  .post-home-item {
	margin: 0;
  }
  .search-wrap, .foo-form-wrap {
	padding: size(25);
  }
  .post-form-wrap {
	padding: size(15) size(21) 0 size(21);
  }
  .foo-row {
	justify-content: center !important;
  }
  .foo-menu {
	flex: 0 0 90%;
	max-width: 90%;
  }
  .hop-hey.four-columns {
	column-count: 1;
	column-gap: unset;
  }
  .video-modal {
	.modal-body {
	  iframe {
		height: 250px;
	  }
	}
  }
}
