html{
  transition: font-size .5s;
}
.rb{border: 1px solid red;}
.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}
.rtl{direction: rtl;}
:focus{text-decoration: none;
  outline: none !important;
}
a{
  &:hover{
	text-decoration: none;
  }
}
button:active, button:focus, input:active, textarea:active,
input:focus, textarea:focus {
  outline: none;
  box-shadow: unset !important;
}
button::-moz-focus-inner, input::-moz-focus-inner, textarea::-moz-focus-inner {
  border: 0;
  box-shadow: unset !important;
}
.bg-img{
  background-repeat: no-repeat;
  background-position: center;
  &.img-cover{
	background-size: cover;
  }
  &.img-contain{
	background-size: contain;
  }
}
button:focus{
  outline: none!important;
}
.sticky{
  transition: all .5s;
  &.fixed{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #fff;
	z-index: 99999;
	animation-name: stickyHeader;
	animation-duration: 0.5s;
  }
}
@keyframes stickyHeader {
  0% {transform: translateY(-100%);}
  100% {transform: translateY(0);}
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  direction: rtl;
  overflow-x: hidden;
}
.wpcf7-form{
  .wpcf7-form-control-wrap{
	display: block;
	position: relative;
  }
  ::placeholder{
	color: #000;
	opacity: 1;
  }
  .wpcf7-not-valid-tip{
	left: 0 !important;
	top: 0 !important;
	right: auto !important;
	height: 100%;
	width: 50%;
	line-height: 1;
	text-align: left;
	border: none;
	background: transparent;
  }
  br{
	display: none;
  }
  span{
	display: block;
	position: relative;
	.wpcf7-not-valid-tip{
	  left: 0!important;
	  right: auto!important;
	  width: 50%;
	  top: 0!important;
	  height: 100%;
	  border: none;
	  background: red!important;
	  color: #fff;
	  border-top-left-radius: 5px;
	  border-bottom-left-radius: 5px;
	}
  }
  input, select{
	width: 100%;
	display: block;
	&[type=submit]{
	  width: 100%;
	  border: none;
	  color: #000;
	  background-repeat: no-repeat;
	  cursor: pointer;
	}
  }
}


#leos {
  width: 100%;
  background-color: #000;
  text-align: center;
  overflow: hidden;
  line-height: 0;
  img{
	padding: 10px 0;
	height: 64px;
	width: auto;
  }
  a{
	position: relative;
	display: inline-block;
	&:hover{
	  span{
		opacity: 1;
		-webkit-backface-visibility: visible !important;
		-webkit-animation-name: flipInY;
		backface-visibility: visible !important;
		animation-name: flipInY;
	  }
	}
  }
  span{
	opacity: 0;
	position: absolute;
	right: 0;
	color: white;
	bottom: 30px;
	white-space: nowrap;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-transition:.3s;
	transition: .3s;
  }
}
@-webkit-keyframes flipInY {
  0% {
	-webkit-transform: perspective(400px) rotateY(90deg);
	opacity: 0;
  }
  40% {
	-webkit-transform: perspective(400px) rotateY(-10deg);
  }
  70% {
	-webkit-transform: perspective(400px) rotateY(10deg);
  }
  100% {
	-webkit-transform: perspective(400px) rotateY(0deg);
	opacity: 1;
  }
}
@keyframes flipInY {
  0% {
	-webkit-transform: perspective(400px) rotateY(90deg);
	transform: perspective(400px) rotateY(90deg);
	opacity: 0;
  }
  40% {
	-webkit-transform: translateX(100%) perspective(400px) rotateY(-10deg);
	transform: translateX(100%) perspective(400px) rotateY(-10deg);
  }
  70% {
	-webkit-transform: translateX(calc(100% + 20px)) perspective(400px) rotateY(10deg);
	transform: translateX(calc(100% + 20px)) perspective(400px) rotateY(10deg);
  }
  100% {
	-webkit-transform: translateX(calc(100% + 20px)) perspective(400px) rotateY(0deg);
	transform: translateX(calc(100% + 20px)) perspective(400px) rotateY(0deg);
	opacity: 1;
  }
}


/* Contact form style Start */
span.wpcf7-form-control-wrap {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
/* Red Ballons CSS */
span.wpcf7-form-control-wrap span.wpcf7-not-valid-tip {
  position: absolute;
  bottom: 100%;
  background: #f00;
  border-radius: 5px;
  color: #fff;
  padding: 8px 15px;
  white-space: nowrap;
  left: 5%;
  -webkit-animation: formerror 400ms;
  animation: formerror 400ms;
}
span.wpcf7-form-control-wrap span.wpcf7-not-valid-tip.tip_out {
  -webkit-transition: all 400ms;
  transition: all 400ms;
  opacity: 0;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}
span.wpcf7-form-control-wrap span.wpcf7-not-valid-tip:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top:100%;
  left: 10%;
  border-left: 0 solid transparent;
  border-right: 15px solid transparent;
  border-top: 10px solid #f00;
}
@-webkit-keyframes formerror {
  from {
	opacity: 0;
	bottom: 0;
  }
  to {
	opacity: 1;
	bottom: 100%;
  }
}
@keyframes formerror {
  from {
	opacity: 0;
	bottom: 0;
  }
  to {
	opacity: 1;
	bottom: 100%;
  }
}
/* Input Syles */
input,
div.wpcf7 input,
div.wpcf7 select,
div.wpcf7 textarea,
div.wpcf7 input[type=submit] {
  font-family: $font-family;
  border:0;
  padding: 8px 5px;
}
div.wpcf7 input[type=tel],
div.wpcf7 input[type=text],
div.wpcf7 input[type=email],
div.wpcf7 select,
div.wpcf7 textarea {
  width: 100%;
  background-color: #FFFFFF;
  margin-bottom: 10px;
}
div.wpcf7 textarea { height: 188px; }
div.wpcf7 input[type=submit] {
  display: block;
  width: 100%;
  background-color: #ccc;
  cursor: pointer;
  transition: all .5s ease;
}
/* Bubble animation for replacing ajax img */
@-webkit-keyframes bubbles {
  0% {
	-webkit-transform: scale(1);
	opacity: 1; }

  45% {
	-webkit-transform: scale(0.1);
	opacity: 0.7; }

  80% {
	-webkit-transform: scale(1);
	opacity: 1; } }
@keyframes bubbles {
  0% {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1; }

  45% {
	-webkit-transform: scale(0.1);
	transform: scale(0.1);
	opacity: 0.7; }

  80% {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
  }
}
/* Errors Msgs */
div.wpcf7-response-output {
  position: absolute;
  margin: 0 !important;
  border: none;
  padding: 10px 15px;
  bottom: 0;
  z-index:9999;
  left: 50%;
  background-color: white;
  text-align: center;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition:all 1s ease;
  transition: all 1s ease;
}
div.wpcf7-validation-errors,
div.wpcf7-mail-sent-ok {
  -webkit-animation: form_msg_error 500ms;
  animation: form_msg_error 500ms;
  bottom:0;
  color: black;
}
@-webkit-keyframes form_msg_error {
  from {
	bottom:-100%;
  }
  to {
	bottom:0;
  }
}
@keyframes form_msg_error {
  from {
	bottom:-100%;
  }
  to {
	bottom:0;
  }
}
div.wpcf7-mail-sent-ok {
  background: #398f14;
}
div.wpcf7-validation-errors {
  background: #f7e700;
}
.form_msg_error_out {
  -webkit-transition: all 500ms;
  transition: all 500ms;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}
@-webkit-keyframes form_msg_out {
  from {
	bottom: 0;
  }
  to {
	bottom: -300px;
  }
}
@keyframes form_msg_out {
  from {
	bottom: 0;
  }
  to {
	bottom: -300px;
  }
}
::-webkit-input-placeholder {
  color: black;
  font-family: $font-family;
}
:-moz-placeholder {
  color: black;
  font-family: $font-family;
}
::-moz-placeholder {
  color: black;
  font-family: $font-family;
}
:-ms-input-placeholder {
  color: black;
  font-family: $font-family;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent;
  box-shadow: none;
  outline: none;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
  box-shadow: none;
  outline: none;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
  box-shadow: none;
  outline: none;
}
/* Contact form style End */
@media (max-width: 992px) {
  #MobNavBtn,
  nav#MainNav {
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
  }
  #MobNavBtn {
	display: block;
	position: absolute;
	top:10px;
	right:100%;
	width:45px;
	height:45px;
	background:inherit;
	z-index: 9999;
  }
  #MobNavBtn span {
	display: block;
	height:4px;
	width: 70%;
	background: #fff;
	position: absolute;
	top:50%;
	left:50%;
	margin:0 auto;
	-webkit-transition:all .5s ease;
	transition: all .5s ease;
	opacity: 1;
  }
  #MobNavBtn span:nth-child(1) {
	-webkit-transform: translate(-50%,-280%);
	transform: translate(-50%,-280%);
  }
  #MobNavBtn span:nth-child(2) {
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
  }
  #MobNavBtn span:nth-child(3) {
	-webkit-transform: translate(-50%,180%);
	transform: translate(-50%,180%);
  }
  nav.active #MobNavBtn span:nth-child(2) {
	opacity: 0;
	visibility: hidden;
  }
  nav.active #MobNavBtn span:nth-child(1) {
	-webkit-transform: translate(-50%,-50%) rotate(-45deg);
	transform: translate(-50%,-50%) rotate(-45deg);
  }
  nav.active #MobNavBtn span:nth-child(3) {
	-webkit-transform: translate(-50%,-50%) rotate(45deg);
	transform: translate(-50%,-50%) rotate(45deg);
  }
  nav#MainNav .container,
  nav#MainNav div.main_menu {
	width: 100%;
  }
  nav#MainNav {
	display:block;
	position:fixed;
	width:200px;
	z-index:999;
	bottom:0;
	top:0;
	right:-200px;
	height:100vh;
	-webkit-transition:all .5s ease;
	transition: all .5s ease;
  }
  nav#MainNav,
  nav#MainNav ul.sub-menu {
	background-color: $blue-dark !important;
  }
  nav#MainNav.active {
	right:0;
  }
}
.debug{
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  padding: 10px;
  p{
	color: #fff;
	font-size: 16px!important;
  }
}
