@import "colors";
@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "setup";
@import "hover";
@import "animate";
@import "forms";
@import "header-footer";
@import "cards";

body{
  font-family: 'Assistant', sans-serif;
  text-align: right;
}
.wow {
  visibility: hidden;
}
.pt-pb {
  padding: size(60) 0;
}
.base-output {
  h1, h2, h3, h4, h5, h6 {
	color: $blue-main;
	margin-bottom: size(20);
	font-weight: 700;
  }
  h1, h2 {
	@include base-title;
  }
  h3 {
	font-size: size(32);
	line-height: size(34);
  }
  h4 {
	@include mid-text;
  }
  h5 {
	font-size: size(28);
	line-height: size(30);
  }
  h6 {
	font-size: size(26);
	line-height: size(28);
  }
  p, li {
	@include base-text;
	color: $blue-dark;
  }
  p {
	margin-bottom: size(35);
  }
  li {
	margin-right: 1rem;
	list-style: disc;
  }
  ul {
	margin: 1rem 0;
  }
}
.white-output {
  p, li {
	margin-bottom: 0;
	color: #ffffff;
  }
}
.slider-output {
  h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin-bottom: size(15);
  }
  h1, h2 {
	@include mid-text;
  }
  h3 {
	font-size: size(29);
	line-height: size(30);
  }
  h4 {
	font-size: size(28);
	line-height: size(30);
  }
  h5 {
	font-size: size(27);
	line-height: size(30);
  }
  h6 {
	font-size: size(26);
	line-height: size(28);
  }
  p, li {
	margin-bottom: 0;
  }
  margin-bottom: 1rem;
}
.block-text {
  * {
	text-align: center;
  }
}
.slick-prev:before, .slick-next:before{
  color: transparent;
}
[dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 33;
}
.arrows-slider {
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: calc(100% + 1rem);
	width: 15px;
	height: 18px;
	transition: background-image .5s;
  }
  [dir="rtl"] .slick-next {
	left: 75%;
  }
  [dir="rtl"] .slick-prev {
	right: 0;
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/arrow-right.png");
	&:hover {
	  background-image: url("../iconsall/slider-arrow-right-blue.png");
	  transition: background-image .5s;
	}
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/arrow-left.png");
	&:hover {
	  background-image: url("../iconsall/slider-arrow-left-blue.png");
	  transition: background-image .5s;
	}
  }
}
.dark-slider {
  background-color: $blue-dark;
  .base-output {
	p, li {
	  color: #ffffff;
	}
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/white-arrow-right.png");
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/form-submit.png");
  }
}
.slider-img-col img {
  width: 100%;
  border-radius: 15px;
}
.slider-col-content {
  padding-bottom: 2rem;
}
//Basic links
.card-link {
  @include d-center;
  text-align: center;
  @include base-text;
  font-weight: 700;
  color: #ffffff;
  border-radius: 5px;
  min-height: size(33);
  padding: 5px size(27);
  background-color: $blue-main;
  border: 1px solid $blue-main;
  transition: color, background-color .5s;
  &:hover {
	background-color: #ffffff;
	color: $blue-main;
	transition: color, background-color .5s;
  }
}
.post-item-col {
  .card-link {
	padding: 5px 10px;
  }
}
.link-cat {
  background-color: $purple-theme;
  &:hover {
	background-color: $purple-theme;
  }
  &:nth-child(2) {
	background-color: $orange-theme;
	&:hover {
	  background-color: $orange-theme;
	}
  }
}
.link-cat, .link-cat-loc {
  @include small-text;
  min-height: unset;
  color: #ffffff;
  margin-bottom: 8px;
  border: none;
  margin-left: 0 !important;
  &:hover {
	color: #ffffff;
  }
}
.link-cat-loc {
  background-color: $green-theme;
  &:hover {
	background-color: $green-theme;
  }
}
.base-link {
  @include base-text;
  font-weight: 700;
  color: $blue-dark;
  background-image: url("../iconsall/arrow-left.png");
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: size(15);
  padding-left: size(45);
  transition: background-position .5s;
  &:hover {
	color: $blue-dark;
	background-position: 0 center;
	transition: background-position .5s;
  }
}
//Homepage about block
.cats-block-page, .home-about-block {
  background-image: url("../img/about-back.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}
.home-about-block {
  padding: size(65) 0 size(40) 0;
  .logo {
	img {
	  max-height: size(180);
	}
  }
  .about-content-container {
	margin-bottom: size(60);
  }
  .base-link {
	color: #ffffff;
	background-image: url("../iconsall/form-submit.png");
	&:hover {
	  color: #ffffff;
	}
  }
  .white-output {
	margin-bottom: 1rem;
	h1, h2, h3, h4, h5, h6 {
	  color: #ffffff;
	}
  }
  .cats-locations-block {
	margin-top: size(69);
	.base-output {
	  * {
		color: #ffffff;
	  }
	}
  }
}
//Categories page
.cats-main-block {
  position: relative;
  @include back-img;
  background-image: url("../img/cats-top-back.png");
  padding: size(200) 0 size(40) 0;
}
.main-search-section {
  position: relative;
  z-index: 9;
}
.inside-overlay {
  @include overlay;
  background-image: linear-gradient(to top, #00b1ef 0%, #0f2652 100%);
  opacity: 0.56;
}
//Results/places page
.load-more-link {
  background-color: $blue-dark;
  padding: 5px size(48) 5px size(60);
  background-image: url("../iconsall/arrow-down-white.png");
  background-position: size(16) center;
  background-size: size(18);
  background-repeat: no-repeat;
  transition: transform .5s;
  border: none;
  cursor: pointer;
  &:hover {
	color: #ffffff;
	background-color: $blue-dark;
	transform: scale(0.95, 0.95);
	transition: transform .5s;
  }
  &.hide {
	display: none;
  }
}
.page-body {
  padding: size(80) 0;
}
.places-page {
  .base-output {
	h1, h2, h3, h4, h5, h6 {
	  color: $blue-dark;
	  margin-bottom: size(27);
	}
  }
  .base-title {
	@include base-title;
	text-align: center;
	color: $blue-dark;
  }
}
//Contact page
.contact-page-body {
  @include back-img;
  padding: 0;
  background-image: url("../img/contact-page-back.png");
}
.contact-page-overlay {
  position: relative;
  padding: size(95) 0 size(60) 0;
  background-color: rgba(243, 242, 237, 0.3);
}
.overlay-gradient {
  background-image: linear-gradient(to top, #00b1ef 0%, #0f2652 100%);
  opacity: 0.56;
  @include overlay;
  z-index: 2;
}
.z-index-more {
  position: relative;
  z-index: 4;
}
.repeat-form-back {
  @include back-img;
  background-image: url("../img/repeat-form-back.png");
  padding: size(100) 0 size(160) 0;
}
.contact-form {
  padding: size(35) size(46);
}
.contact-body-wrap {
  padding: size(15);
  border-radius: 15px;
  background-color: $blue-dark;
}
.contact-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: size(20);
}
.contact-icon-wrap {
  @include d-center;
  min-width: size(60);
  width: size(60);
  height: size(60);
  border-radius: 50%;
  background-color: $blue-main;
  padding: 14px;
  margin-left: size(45);
}
.contact-info {
  @include base-text;
  color: #ffffff;
  &:hover {
	color: #ffffff;
  }
}
.contact-column {
  padding: size(20) 8% size(20) size(20);
}
//Post (single.php)
.form-search-back {
  background-image: url("../img/search-back.png");
  @include back-img;
  padding: size(90) 0 size(115) 0;
}
.post-image-main {
  width: 100%;
  border-radius: 15px;
  margin-bottom: size(41);
}
.post-body, .about-body {
  .base-output {
	p, li {
	  line-height: size(30);
	}
	p {
	  margin-bottom: size(40);
	}
	h3, h4, h5, h6 {
	  font-weight: 900;
	}
  }
}
.post-body .col-content {
  .base-output {
	padding-left: size(45);
  }
}
.post-title-page {
  @include base-title;
  color: $blue-main;
  font-weight: 700;
  margin-bottom: size(20);
}
.fixed-form {
  position: sticky;
  top: 0;
  z-index: 999;
  height: 100%;
}
.post-form-wrap {
  padding: size(15) size(41) 0 size(41);
  border-radius: 5px;
  background-color: $blue-main;
  .form-title {
	color: $blue-dark;
  }
}
//Place (single-place.php)
.block-title-dark {
  @include base-title;
  text-align: center;
  margin-bottom: size(55);
  color: $blue-dark;
}
.place-page-cats {
  .col-auto {
	padding: 0 5px;
  }
  .col-auto:nth-child(3n) .card-link {
	background-color: $orange-theme;
  }
  .col-auto:nth-child(1) .card-link,
  .col-auto:nth-child(4) .card-link,
  .col-auto:nth-child(7) .card-link,
  .col-auto:nth-child(10) .card-link {
	background-color: $purple-theme;
  }
  .col-auto:nth-child(2) .card-link,
  .col-auto:nth-child(5) .card-link,
  .col-auto:nth-child(8) .card-link,
  .col-auto:nth-child(11) .card-link {
	background-color: $green-theme;
  }
}
.gallery-img {
  width: 100%;
  border-radius: 15px;
}
.gallery-slider {
  margin-bottom: size(100);
  [dir="rtl"] .slick-prev, [dir="rtl"] .slick-next {
	top: calc(100% + 1.5rem);
	width: size(37);
	height: size(35);
	background-size: size(15);
	border-radius: 5px;
	background-color: $blue-main;
	transition: background-color .5s;
	&:hover {
	  background-color: $blue-dark;
	  transition: background-color .5s;
	}
  }
  [dir="rtl"] .slick-next {
	left: 0;
  }
  [dir="rtl"] .slick-prev {
	right: 0;
  }
  [dir="rtl"] .slick-prev {
	background-image: url("../iconsall/white-arrow-right.png");
  }
  [dir="rtl"] .slick-next {
	background-image: url("../iconsall/form-submit.png");
  }
}
.post-video {
  position: relative;
  .video-image {
	width: 100%;
	border-radius: 15px;
  }
}
.play-button-wrap {
  @include overlay;
  @include d-center;
}
.play-button {
  @include d-center;
  border-radius: 50%;
  background-color: rgba(1, 173, 239, 0.5);
  cursor: pointer;
  width: size(56);
  height: size(56);
  transition: background-color .5s;
  &:hover {
	background-color: $blue-main;
	transition: background-color .5s;
  }
  img {
	width: size(24);
  }
}
//About page
.about-body {
  .base-output img {
	text-align: center;
	border-radius: 15px;
	margin: 10px auto;
	width: 80%;
	height: auto;
  }
}
#load-more-items-members {
  color: #ffffff;
}
.rev-pop-trigger {
  @include d-center;
  width: 32px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid $blue-dark;
  background-image: url("../iconsall/plus.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  cursor: pointer;
}
//Categories
.cats-block-page {
  padding: size(40) 0 size(170) 0;
  .loc-col-wrap {
	margin-bottom: size(65);
  }
  .location-wrap-inside {
	@include base-title;
	margin-bottom: 0;
  }
  .base-output * {
	color: #ffffff !important;
  }
}
//Homepage main block
.home-video-block {
  position: relative;
  overflow: hidden;
  padding-top: size(56);
  padding-bottom: size(29);
  @include d-center;
  flex-wrap: wrap;
  video {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	top: 0;
	z-index: 2;
  }
  .contact-page-overlay {
	@include overlay;
	padding: 0;
	z-index: 3;
  }
  .overlay-gradient {
	z-index: 4;
  }
}
.home-content {
  width: 100%;
}
.home-cats-main {
  padding: size(50) 0;
}
.home-cat-col-main {
  margin-bottom: size(30);
}
.home-category-item {
  @include d-center;
  min-height: size(54);
  height: 100%;
  border-radius: 15px;
  background-color: #d2aacc;
  @include mid-text;
  color: $blue-dark;
  font-weight: 700;
  text-align: center;
  padding: size(10) size(40);
}
.giant-title {
  color: #ffffff;
  font-size: size(72);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(80);
  text-align: center;
  margin-bottom: size(50);
}
.button-home {
  width: size(56);
  height: size(54);
  cursor: pointer;
}
.home-text-white {
  @include base-text;
  color: #ffffff;
  margin-bottom: size(40);
}
.locations-hidden {
  display: none;
}
.contact-item-place {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: size(20);
  img {
	margin-left: 8px;
  }
  &:hover {
	.contact-info-place {
	  color: $blue-dark;
	  transition: color .5s;
	}
  }
}
.contact-info-place {
  @include mid-text;
  color: $blue-main;
  font-weight: 400;
  transition: color .5s;
}


@import "responsive";
